extends base

block body
    h1 Dashboard
    p. 
        Welcome to your Dashboard! You are now logged in.

    h2 User Ingformation
    p First Name: #{user.firstName}
    p Last Name: #{user.lastName}
    p Email: #{user.email}
    p Password hashed proof: #{user.password}
    